* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    font-size: 13pt;
    font-weight: bold;
}
.lang {
    border: #fff 3px solid;
    border-radius: 20px;
    width: calc(33% - 6px);
    position: relative;
}
#prog, #cris {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.text-lang {
    margin: 10px;
}
.lang img {
    margin: 10px;
    border-radius: 10px;
}

@keyframes spin {
    0%,
    100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}
.profilePic {
    border-radius: 50%;
    display: block;
    margin: auto;
    animation: spin 2s ease-in-out infinite;
}