* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Dosis', sans-serif;
    font-size: 13pt;
    font-weight: bold;
    margin: 20px;
}

/* Header */

header {
    text-align: center;
    margin: auto;
    gap: 15%;
    margin-bottom: 50px;
}
h2 {
    display: flex;
    justify-content: center;
}
h2 img {
    margin-right: 10px;
    margin-left: 10px;
}
.socialMedias {
    height: 40px;
    margin-top: 15px;
}
@keyframes spin2 {
    0%,
    100% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
}
.profilePic {
    border-radius: 50%;
    animation: spin2 2.5s ease-in-out infinite;
}

/* Corpo */

.lang {
    border-radius: 20px;
    width: calc(33% - 6px);
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
    box-shadow: 1px 1px 3px 1px black;
}
.lang.visible {
    opacity: 1;
    transform: translateY(0);
}
.lang:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.secTitle {
    text-align: center;
    margin: 25px;
}
.lang img {
    margin: 10px;
    border-radius: 10px;
}

/* Media Queries */

@media (prefers-reduced-motion: reduce) {
    .profilePic {
        animation: none;
    }
}
@media (max-width: 768px) {
    .lang {
        width: calc(50% - 6px);
    }
}
@media (max-width: 480px) {
    .lang {
        width: 100%;
    }
}